
@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>
<div>
    <a asp-action="Report" asp-controller="Profile" asp-route-id="underweight">Underweight Report</a>
    <br />
    <a asp-action="Report" asp-controller="Profile" asp-route-id="overweight">Overweight Report</a>
    <br />
    <a asp-action="Report" asp-controller="Profile" asp-route-id="obese">Obese Report</a>
</div>

